# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Pinball.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Github Projects\Pinball\.idea\.idea.Pinball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
